{:aliases {:dev {:extra-paths ["development/src"]
								 :extra-deps {}}
					 :test {:extra-paths []
					 :extra-deps {polylith-kaocha/kaocha-wrapper
						 {:git/url "https://github.com/imrekoszo/polylith-kaocha"
							:git/tag "v0.8.2"
							:git/sha "d1fcd40"
							:deps/root "projects/kaocha-wrapper"}
						 org.clojure/test.check {:mvn/version "1.1.1"}}}}}