{:paths ["src"]
 :deps {com.stuartsierra/component {:mvn/version "1.1.0"}
				environ/environ {:mvn/version "1.2.0"}
				io.pedestal/pedestal.service {:mvn/version "0.5.9"}
				io.pedestal/pedestal.route {:mvn/version "0.5.9"}
				io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
				
				;; Bricks
				poly/server {:local/root "../../bases/server"}
				}
 :aliases {:test {:extra-paths ["test"]
									:extra-deps {}}}}